footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 97%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
